:global(.ui.basic.label).toolbarBtn {
  border: none
}

.avatar{
  img{
    max-width: 3em;
  }
}

.notLike {
  color:#ddd;
}

.message{
  width: 30em;
  background-color:white;
}

.myMessage{
  float: right;
  width: 30em;
  background-color: powderblue;
}

.separate{
  padding: 1em !important;
}

.editMessage{
  display: none !important;
}

.myMessage:hover .editMessage{
  display: block !important;
  button {
    background-color: powderblue;
  }
}

.messageAction{
  height: 2em;
}

.myMessageLike {
  background-color: powderblue !important;
  border: none !important;
}
