
.card{
  width:100% !important;
  height: calc(100vh - 5em) !important;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  margin-top: 2.2em !important;
  background-color:#eee !important;
}

.card::-webkit-scrollbar { width: 0; }

.new-message{
  position: fixed;
  bottom: 0;
}

.comments{
  border: 1px solid gray;
  border-radius: 0.5em; 
}