.header{
  height: 2em;
  position: fixed;
  top: 0;
  border: 1px grey solid;
  border-radius: 0.3em;
  opacity: 1;
  width: 100%;
  background-color:steelblue;
  color: white;
}

.myPaddingLeft{
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  float: left;
};

.myPaddingRight{
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  float: right;
}
