
.card{
  width:100% !important;
  height: 100vh;
}

.header{
 height: 2em !important;
}

.my-padding{
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
};

.new-message{
  position: fixed;
  bottom: 0;
}

.comments{
  border: 1px solid gray;
  border-radius: 0.5em; 
}